* {
    box-sizing: border-box; /* ensures that padding and border are included in the total width & height of all elements */
    font-family: Arial, Helvetica, sans-serif;
}

/* Selects all classes beginning with "col-" */
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 5px white solid;
}

/* Columns for responsive grid view */
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25.00%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50.00%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75.00%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100.00%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* CSS for headings */
.header {
    padding: 1px 15px;
    margin: 5px;
}

h3 {
    margin-bottom: 0px;
}

/* CSS for menu */
ul.topnav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color:#dd9434;
}

ul.topnav li {
    float: left;

}

ul.topnav li a, ul.topnav li.dropdown a.dropdownHead {
    display: inline-block;
    color: #992915;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px #f0df99 solid;
}

ul.topnav li:last-child {
    border-right: none;
}
ul.topnav li a:hover:not(.active), ul.topnav li a:hover, ul.topnav li.dropdown:hover, ul.topnav li.dropdown a.dropdownHead {
    background-color: #dd9434;
}

ul.topnav li a.active {
    background-color: #f0df99;
}

ul.topnav li.dropdown {
    display: inline-block;
}

ul.topnav li.dropdown div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d49f59;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  ul.topnav li.dropdown div.dropdown-content a {
    color: #992915;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  ul.topnav li.dropdown div.dropdown-content a:hover {
      background-color: #f0df99;
    }

ul.topnav li.dropdown:hover div.dropdown-content {
  display: block;
}

/*For smaller screens*/
@media screen and (max-width: 825px) {
    ul.topnav li {float: none;}
}

/*CSS for images*/
img {
    max-width: 100%;
}

/*CSS to align headings to the top of a row of columns*/
.topAlign {
    padding-top: 0px;
}



/*CSS to space out the form elements*/
input {
    margin-bottom: 15px;
}
input.submit {
    margin-top: 25px;
}

#mapCanvas {
    background-image: url("../Images/map.jpg");
    background-repeat: no-repeat;
}

/*Modal Styling*/
/* The Modal (background) */
.modalContainer {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /*Container covers the whole screen width*/
    height: 100%; /*Container covers the whole screen width*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 55%; /*modal covers half the screen width*/
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }

  #lodgeInformation {
      display: block;
  }
  #bookingConfirmed {
      display: none;
      margin-top: -50px;
  }
  #bookingSummary {
      display: none;
      margin-top: -50px;
  }
