body {
    font-family:'Comic Sans MS', cursive, sans-serif;
}
.tabTop {
    font-size: 26px;
    background-color: #00ccff;
    text-align: center;
}
.tabBody {
    background-color: #66ffff;
    font-size: 22px;
    text-align: center;
}
.myInput {
    width: 150px;
    height: 30px;
    background-color: #ffff66;
    font-size: 26px;
}
.myButton {
    width: 170px;
    height: 40px;
    background-color: #cc66ff;
    font-size: 24px;
    border-radius: 25px;
}